body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 90%;
  max-width: 800px;
  background: #111d4a;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.card-image {
  object-fit: cover;
  flex-basis: 250px;
  min-width: 0;
  min-height: 0;
}

.card-title,
.card-read-time,
.card-btn {
  font-family: 'Blinker', sans-serif;
}
.card-content {
  padding: 1em;
  opacity: 0.8;
}

.card-title {
  margin: 0;
  font-size: 1.75rem;
  /* font-weight: 700; */
  color: #05cbe9;
}
.card-body {
  font-size: 1rem;
  font-family: 'Source Sans Prop', sans-serif;
  line-height: 1.6;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3em;
}
.card-read-time {
  margin: 0;
  line-height: 1;
  opacity: 0.6;
}
.card-read-time span {
  display: block;
  font-weight: 700;
  font-size: 1.25em;
}
.card-btn {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  background: #05cbe9;
  color: #111d4a;
  padding: 0.35em 1.25em;
  letter-spacing: 1px;
}

@media (min-width: 600px) {
  .card-container {
    flex-direction: row;
  }
  .card-image {
    height: 300px;
  }
  .card-content {
    display: flex;
    flex-direction: column;
  }
  .card-title {
    font-size: 2.25rem;
  }
  .card-body {
    font-size: 1.125rem;
    max-width: 500px;
  }
  .card-footer {
    margin-top: auto;
  }
}
